<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/favicon.ico" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
  <title>Kristen's Python Projects</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About Me</a></li>
          <li><a href="./project.html" title="">Projects</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
          <!-- <li><a href="./components.html" title="">Components</a></li> -->
        </ul>

        <div class="footer-container">
           
          <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
          <p class="footer-share-icons">
              <a href="https://www.twitter.com" class="fa-icon" title="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com" class="fa-icon" title="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.behance.com" class="fa-icon" title="">
                  <i class="fa fa-behance" aria-hidden="true"></i>
              </a>
              <a href="https://www.vimeo.com" class="fa-icon" title="">
                  <i class="fa fa-vimeo" aria-hidden="true"></i>
              </a>
          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

<a name="top"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          
          <h1 class="h2">Python Projects</h1>
          
                      <ul class="list-unstyled">
                          <h5 class="h5"><a href="#automation">Automation with Selenium</a></h5>
                          <h5 class="h5"><a href="#Machine Learning">Machine Learning </a></h5>
                          <h5 class="h5"><a href="#DataScience">Data Science </a></h5>
                          <h5 class="h5"><a href="#portfolio">Portfolio/Python Server </a></h5>
                          <h5 class="h5"><a href="#datascrape">DataScraper </a></h5>
                          <h5 class="h5"><a href="#twitter">Twitterbot </a></h5>
                          <h5 class="h5"><a href="#sendtext">Sending SMS/Text</a></h5>
                          <h5 class="h5"><a href="#email">Sending Email</a></h5>
                          <h5 class="h5"><a href="#images">Image Processing</a></h5>
                          <h5 class="h5"><a href="#pdfs">Working with PDFs</a></h5>
                          <h5 class="h5"><a href="#pwdcheck">Password Checker</a></h5>
                      
                        <li></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
<a name="automation"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Automation with Selenium</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                
                <h3>Automation with Selenium</h3>
               
              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>Selenium, Selenium Easy, HTML</li> 
    
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/automation-seleniumandhtml" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project was part of the Automation section of the Zero to Mastery Course. It involved learning the basics of how to use Selenium to mimic user actions for a webpage (html) and coding some checks to ensure that the desired results are a achieved.  The project introduced Selenium Easy and utilized the inspection of html elements.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


<a name="Machine Learning"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">02</span>Machine Learning</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                
                <h3>Machine Learning and Image Recognition</h3>
               
              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <h5>ML and Jupyter Notebooks Project</h5>
                <li>SciKit, Jupytr Notebooks, NumPy, Anaconda  </li>
                <li>KNeighbors Classifier, DecisionTreeClassifier (CSV)</li>
                <li></li>
               
               
                <h5>reallysmartbrain project:</h5>
                </li> Tensorflow, ImageAI (ImagePrediction)
                <li>SqueezeNet  </li>
                
                
              </ul>

            <h5> Project Files:</h5>
            <ul class="list-unstyled">
              <h7> ML and Jupyter Notebooks:
                <li> <a href="https://github.com/live-gingerly/machine_learning-ML_with_jupyter_notebooks" title="" class="fa-icon">
                <i class="fa fa-github"></i>  
              </a>
            </li>
            </h7>

            <h7> reallysmartbrain:
              <li> <a href="https://github.com/live-gingerly/machine_learning-really_smart_brain" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
          </li>
          </h7>
            
        </ul>
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              There were two projects as part of the Machine Learning portion of the Zero to Mastery Course. The first project involved using Jupyter Notebooks along side the Iris Data Set from SciKit. The data was split into a training and test set and then the KNeighborsClassifer library was used to see how accurately the model could predict an input of an Iris. The same concept was then applied for the DecisionTree algorithm from scikit-learn.
              This project demonsrated the importance of a machine learning scientist's role in choosing the test and training data as well as the algorithm choice to achieve the best results. 
            </p>
            <p>
              The second project, called "reallysmartbrain", involved using the TensorFlow platform, ImagePrediction from ImageAI, and the SqueezeNet model (chosen mostly due to it's smaller size and other models were introduced). The model was then given the input of a few various images and then 5 results of what it identified and its probability are displayed.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="DataScience"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">03</span>Data Science Project</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                
                <h3>Data Science with Jupyter Notebooks</h3>
               
              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>pandas, scikit learn, matplotlib, seaborn, bokeh models </li> 
                <li> csv with python, kaggle, jupyter notebooks</li>
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/data_science-FIFAdataanalysis" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project was part Machine Learning and Data Science portion of the Zero to Mastery course. Using Jupyter Notebooks, this project imported a FIFA Scoccer Player data set from kaggle and then used the pandas frameworks, matplotlib, seaborn, and bokeh libraries to do manipulation and visualization of the data. The end result was plotted graph with a hover tool to show which players held the most value in terms of compensation vs. worth.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <a name="portfolio"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">04</span>Portfolio Project</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                
                <h3>Portfolio design hosted with Python</h3>
               
              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>HTML, CSS, Flask</li> 
                <li>PythonAnywhere, Databases (CSV)</li>
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/python_server" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project was part of the Web Development Section of the Zero to Mastery Course. It involved learning the basics of how websites are hosted in a server and accessed by a browser. Using the Flask framework I was able to interface with html, .css, and .js files to create this website to host my portfolio. The Flask framework was also excercised to include a Contact Me page that takes the user supplied data and stores it to a .csv file. The html/css/js file were obtained using free templates from Mashable and additional tweaks to the html were performed to obtain the desired output. PythonAnywhere was then utilized to host the website.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 
<a name="datascrape"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">05</span>Datascrape Project</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Datascraping project with Python</h3>

              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>Requests</li> 
                <li>BeautifulSoup</li>
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/datascraper" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project utilized the BeautifulSoup library to parse an html website for desired data. For this project the website news.ycombinater.com was parsed and code was written to sort the top stories by number of votes from the first two pages of websites.  The concept of APIs was also discussed as another, often better way, to interact with certain applications and that for websites without APIs data can be obtained via datascraping. 
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="twitter"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">06</span>TwitterBot Project</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Bulding a Twitterbot with Python</h3>

              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>tweepy</li> 
                <li>twitter API</li>
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/twitterbot" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project involved building a twitterbot to perform a desired action in the Twitter platform with the tweepy library.  After obtaining access to the Twitter API, code was written to automatically follow anyone who follows you, or to like any tweet with a specific keyword.  A decorator function was used to help overloading calls to the APIs for parts of the code that may require many calls, like parsing all of your followers.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<a name="sendtext"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">07</span>Sending SMS/Text</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Sending SMS/Text with Python</h3>

              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>Twilio</li> 
               
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/sendsmstext" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project involved interacting with the Twilio API. It involved account setup and consulting documentation to create a basic project to send an SMS/Text.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="email"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">08</span>Sending Email</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Sending Email with Python</h3>

              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>smtplib, EmailMessage</li> 
               
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/sending_email" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project explored some of the capabilities of sending emails with Python. Using the built in EmailMessage library, code was written to send basic email using one's credentials. Then, additional functionality of reading in a template(html) and doing variable replacement, like inserting recipient's name, was implemented.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="images"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">09</span>Image Processing</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Image Processing with Python</h3>

              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>PIL, Image, sys, os</li> 
               
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/Image_Processing" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project explored the capabilites of python and image processing. Using the PIL, different image manipulation techniques were explored, such as filtering.  An additonal program was written to convert all images in a folder from JPG to PNG.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="pdfs"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">10</span>Working with PDFs</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Working with PDFs in Python</h3>

              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>PyPDF2, sys</li> 
               
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/PDFs" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project explored some of the capabilities of python and PDFs. Using the PyPDF2 library, several actions like rotation and merge of PDFs were performed.  An additional progam was written to apply a watermark image to all the pages in a PDF. 
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="pwdcheck"></a>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">11</span>Password Checker</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Password Checking with Python</h3>

              </div>

              <h4>Key Concepts</h4>
              
              <ul class="list-unstyled">
                <li>requests, hashlib, sys</li> 
               
                <li></li>
              </ul>

            <h5> Project Files:</h5>

            <a href="https://github.com/live-gingerly/password_checker" title="" class="fa-icon">
              <i class="fa fa-github"></i>  
            </a>
              
          </div>
          <div class="col-md-8">
            <h3>About</h3>
            <p>
              This project allows a user to input a hashed version of their password and have it checked against the number of uses found by api.pwnedpasswords.com . The challenge of this project was the combination of hash and response from the server as well as formatting the data to correctly use throughout the program.
            </p>
            <h5 class="h5"><a href="#top">Back to Top</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>